{% extends 'layouts/page.html' %}

{% block content_primary %}
  <h2 id="mandated-standard" class="govuk-heading-m">{{typology.name}}</h2>
  <p>
    {{typology.description | capitalize}}
  </p>

  {% if typology.fields %}
    <h3 class="govuk-heading-s">Fields</h3>
    <p>The following fields belong to this typology:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for field in typology.fields %}
      <li><a href="{{url_for('specification.field', field=field.field)}}">{{field.name}}</a></li>
      {% endfor %}
    </ul>
    <h3 class="govuk-heading-s">Datatypes</h3>
    <p>The following datatypes are used by fields belonging to this typology:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for datatype in datatypes %}
      <li><a href="{{url_for('specification.datatype', datatype=datatype.datatype)}}">{{datatype.name}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
