{% set title = 'Introduction for local planning authorities' %}
{% extends "layouts/layout--guidance.html" %}
{% block content_primary %}

<p class="govuk-body-l">The Planning Data platform gathers data from local planning authorities (LPAs) across England.
  We do this in order to make the data more open and accessible, so better planning decisions are made.</p>

<h2 class="govuk-heading-l">How to provide data</h2>
<p class="govuk-body">This is a brief overview of our process for LPAs that are considering getting involved. We are currently only
  collecting data from select LPAs, but if you are interested in providing your data in future, please let us know at <a
    href="mailto:digitalland@levellingup.gov.uk">digitalland@levellingup.gov.uk</a>.</p>
<p class="govuk-body">The data we collect is likely to be held by your LPA already. However, it may need some work to get ready for
  publishing. This will likely mean:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>digitising any data that is currently held in a paper format</li>
  <li>formatting your data so it meets our specifications</li>
</ul>
<p class="govuk-body">Your data then needs to be published on a trustworthy website that is open to the public. Normally, it will be on
  your organisational website.</p>
<p class="govuk-body">The Planning Data platform will access that data and routinely collect anything that is new or has changed.</p>
<h2 class="govuk-heading-l">Benefits to LPAs</h2>
<p class="govuk-body">Sharing data in this way will help planners and developers gain a better understanding of the potential for
  development in each participating authority.</p>
<p class="govuk-body">The data will be used in the <a href="https://www.ripa.digital">Reduce Invalid Planning Applications (RIPA)
  </a>service, which can:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>show potential development sites that fit local planning requirements</li>
  <li>help people to plan developments that meet those requirements</li>
</ul>
<p class="govuk-body">RIPA has the potential to save LPAs time by reducing the number of invalid planning applications they receive by <a
    href="https://www.ripa.digital/objectives">up to 80%</a>. This could <a
    href="https://www.ripa.digital/understanding-the-problem">save £179 million</a> in costs to LPAs nationally.</p>
<p class="govuk-body">It will also make the planning application process easier for homeowners and businesses.</p>
<p class="govuk-body">By publishing your data, you will be helping to create a national resource of open planning data. Other services are
  likely to be built using this resource in future.</p>
<h2 class="govuk-heading-l">What data we collect</h2>
<p class="govuk-body">Planning Data collects <a href="https://www.digital-land.info/dataset/#monitoring">data about a range of
    subjects</a>.</p>
<p class="govuk-body">There are 4 main data subjects that are needed for the RIPA service:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="#">Conservation area data</a></li>
  <li><a href="#">Listed building data</a></li>
  <li><a href="#">Article 4 direction data</a></li>
  <li><a href="#">Tree preservation order data</a></li>
</ul>
<p class="govuk-body">We recommend publishing at least this data to benefit from RIPA and to allow developers to use it in your area.</p>
<h3 class="govuk-heading-m">Data formats</h3>
<p class="govuk-body">Planning Data can take data in different formats, although some are preferred. Preferred formats will give the most
  accurate results.</p>
<p class="govuk-body">The <a href="#">specifications guidance</a> will tell you which formats to use for each dataset.</p>
<h3 class="govuk-heading-m">Checking your data</h3>
<p class="govuk-body">Once we have collected your data, it will be processed through our feedback tool.</p>
<p class="govuk-body">You can use this to make sure it meets the specifications and make any necessary corrections.</p>
<p class="govuk-body">If you think our version of your data is out of date or needs changing, you can email us at <a
    href="mailto:digitalland@levellingup.gov.uk">digitalland@levellingup.gov.uk</a>.</p>
<h3 class="govuk-heading-m">Data accuracy</h3>
<p class="govuk-body">The data collected is used to help make planning decisions, but it does not replace LPAs as a decision maker, or
  claim complete accuracy. People using these services will be made aware of this.</p>
<p class="govuk-body">With this in mind, incomplete or out of date data may still be worth publishing. We encourage you to provide as much
  data as you have, even if it is not perfect. This will enrich the service.</p>


{% endblock %}
