{% extends "layouts/layout.html" %}

{% block main %}

  <main id="app-main">

    <header class="app-page-header govuk-!-margin-bottom-6">
      <div class="app-page-header__content">
        {% if page_data.caption %}<span class="govuk-caption-l">{{ page_data.caption }}</span>{% endif %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">{{ page_data.title[0] | upper }}{{ page_data.title[1:] }}</h1>
        {% if page_data.lede %}<span class="govuk-body-l">{{ page_data.lede }}</span>{% endif %}
      </div>
    </header>

    <section id="app-content" class="govuk-width-container app-content">
      {% block content %}
        <div class="govuk-grid-row">
          <div id="content-primary" class="govuk-grid-column-two-thirds">
            {% block content_primary %}{% endblock content_primary %}
          </div>
          <div id="content-secondary" class="govuk-grid-column-one-third">
            {% block content_secondary %}{% endblock content_secondary %}
          </div>
        </div>
      {% endblock content %}
    </section>

    {% if self.page_summary()  %}
    <section id="app-page-summary" class="app-page-summary govuk-!-margin-bottom-6 govuk-width-container app-!-self-clear">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible app-!-self-clear">
      {% block page_summary %}{% endblock page_summary %}
    </section>
    <!-- /#app-page-summary.app-page-summary -->
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--m">

  </main>

{% endblock main %}
