.app-card {
  &--endpoint {
    margin: 0 0 govuk-spacing(6) 0;
    .app-card__row {
      &:not(:last-child){
        margin-bottom: govuk-spacing(4);
      }
      > *{
        margin: 0;
        &:not(:last-child) {
          margin-bottom: govuk-spacing(1);
        }
      }
    }
    .app-card {
      &__header {
        background: govuk-colour("light-grey");
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background: $govuk-brand-colour;
        padding: govuk-spacing(2) govuk-spacing(2);
        border-bottom: 1px solid $govuk-border-colour;
      }
      &__title {

        @include govuk-font($size: 19, $weight: bold);
        margin: 0;
      }
      &__body {
        padding: govuk-spacing(4);
      }
      &__label {
        @include govuk-font($size: 19, $weight: bold);
      }
      &__code {
        font-family: $app-font-mono;
        border: 1px solid $govuk-border-colour;
        display: block;
        padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) govuk-spacing(2);
        background: white;
        overflow: hidden;
        word-break: break-all;
        line-height: 1.1;
        border-radius: 4px;
      }
      &__link {
        word-break: break-all;
      }
    }
    border: 1px solid $govuk-border-colour;
  }
}
