.app-code {
  font-family:SFMono-Regular, Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.app-code--inline {
  display: inline-block;
  background: govuk-colour("light-grey");
  padding: 0.2em 0.35em;
  border-radius: 0.25em;
}

.app-code--field {

}
