{% macro _render_fields(dataset_fields) %}
  <ul class="govuk-list app-list--fields app-list--fields-divided">
    {% for dataset_field in dataset_fields %}
      <li><code class="app-code app-code--field app-code--inline-">{{ dataset_field.field.field }}</code> {% if dataset_field.description %}{{dataset_field.description|safe}}{% endif %}</li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro render_dataset(params) %}
  {% set dataset = params.dataset %}

  <h3 class="govuk-heading-m" id="{{dataset.dataset}}-dataset">{{ dataset.name }}</h3>

  <p class="govuk-body">The {{dataset.name}} data MUST be published in an <a href="#open-data-format">open data format</a>.</p>

  <p class="govuk-body">The data MUST contain at least one entry for each {{dataset.name}}.</p>

  <p class="govuk-body">The data MUST contain the following fields:</p>

  {{
    _render_fields(dataset.dataset_fields)
  }}

{% endmacro %}
