.app-\!-float {
  &-left {
    float: left;
    @at-root img, figure {
      margin-right: govuk-spacing(3);
    }
  }
  &-right {
    float: right;
    @at-root img, figure {
      margin-left: govuk-spacing(3);
    }
  }
}

.app-\!-self-clear {
  @include govuk-clearfix;
}

.app-heading-section {
  $_heading_section_padding: .4em;
  $_heading_section_border: 3px solid $app-brand-colour;
  &--top {
    padding-top: $_heading_section_padding;
    border-top: $_heading_section_border;
  }
  &--bottom {
    padding-bottom: $_heading_section_padding;
    border-bottom: $_heading_section_border;
  }
}
